@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@500&display=swap');


:root {
    --background: #65a18e;
    --decoration-btn: #375c51;
    --nav-bng: #5c9382;
    --details-oscuro: #0C3429;
    --details-intermedio: #00BD82;
    --details-claro: #00FFB0;
    --background-titles: #58949c;
    --nav-dis: #35554b;

    /* TEXTS */
    --text-importante: #0a2f2a;
    --text-nav: #8fe6f1;
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    --text-pastel: #dbffff;
    --toggle-menu: #0a2f2af5;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}
header {
    background: linear-gradient(to bottom, var(--nav-dis),var(--nav-bng), var(--background));
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
    z-index: 1;

}
.logo {
    height: 90%;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    gap: 150px;
}
.navbar-list {
    gap: 20px
}
.navbar-list a {
    color: var(--nav-dis);
    font-size: 15px;
    font-weight: 500;
}

.navbar i {
    font-size: 25px;
    color: var(--text-importante);
    display: none;
}
#toggle-menu {
    display: none;
}
 
/* .navbar-list li:nth-child(1) a {
    color: var(--text-white);
    font-weight: 600;
} */

/* .cart-icon {
    height: 35px;
    font-weight: 600;
    width: 100%;
    padding: 5px 10px;
    color: var(--text-white);
    cursor: pointer;
 } */
/* main */
main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white; */
    /* width: 100%; */
}
#hero {
    display: flex;
    padding: 70px 0px;
    justify-content: space-around;
    /* align-items: center; */
    width: 90%;
    margin-top: 70px;
}
.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.hero-info h1 {
    /* color: var(--text-white); */
    background: linear-gradient(to bottom, var(--nav-dis),var(--nav-bng), var(--text-pastel) );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
    font-size: 40px;
    /* display: flex;
    flex-direction: column; */
}
.hero-info p {
    font-weight: 800;
    font-size: 14px;
    max-width: 500px;
    color: var(--text-importante);
}
.button-container {
    display: flex;
    gap: 15px;
}
.button-container a{
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.primary-btn {
    color: var(--text-nav);
    background-color: var(--decoration-btn);
    width: 120px;
    font-size: 14px;
}
.alt-btn {
    color: var(--decoration-btn);
    background-color: var(--text-nav);
    width: 120px;
    font-size: 14px;
}
.hero-img {
    width: 500px;
    height: 450px;
    justify-content: center;
}

/* ABOUT */

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 850px;
    padding: 30px 0px;
    text-align: center;
}
.about-info p {
    font-weight: 600;
    color: var(--text-pastel);
}

#cards {
    padding: 40px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.presentation-cards h2 {
    font-weight: 800;
    color: var(--text-importante);
    text-align: center;
}
.presentation-cards p {
    font-weight: 500;
    color: var(--text-pastel);
    text-align: center;
}

.cards-style {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.cards-x3 {
    width: 300px;
    height: auto;
    padding: 2px 12px 2px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--decoration-btn);
    border-radius: 30px;
    gap: 50px;
}

.cards-x3 img {
    width: 250px;
    border-radius: 10px;

}
.cards-x3 h3 {
    font-weight: 800;
    font-size: 30px;
    background: linear-gradient(to bottom, var(--nav-dis),var(--nav-bng), var(--text-pastel) );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.cards-x3 p {
    font-weight: 500;
    color: var(--text-pastel);
}

#contact {
    display: flex;
    padding: 70px 0px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    width: 100%;
    margin-top: 70px;
    background: var(--details-oscuro);
}
.contact-us h1 {
    color: var(--text-pastel);
    font-size: 30px;
    font-weight: 900;
}
.contact-social a{
    color: var(--text-pastel);
    font-weight: 600;
    font-size: 18px;
    margin: 10px;
    display: inline-block;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--background);
}

.logo-footer {
    height: 50px;
}